<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h2>Wygenerowany zamowienia</h2>
<body>
<div style="overflow-x:auto; overflow-y:auto; margin-left: auto; margin-right: auto; width: 50em">
<table border="1" width="600" class="sortable">
<tr>
<td>Nazwa Produktu</td>
<td>Kategoria</td>
<td>Producent</td>
<td>LiczbaSztuk</td>
<td>Cena</td>
<td>Wartosc</td>
</tr>

{% for record in raport_zamowienia %}
<tr>
<td>{{ record.produkt }}</td>
<td>{{ record.kategoria }}</td>
<td>{{ record.producent }}</td>
<td>{{ record.liczbasztuk }}</td>
<td>{{ record.cena }}</td>
<td>{{ record.przychod }}</td>
</tr>
{% endfor %}
</table>
</div>

</body>
</html>