<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Management</title>
</head>
<body>
<table>
    <tr>
        <td>
            <form action='./magazyn' method='GET'>
                <button type="submit">Magazyn</button>
            </form>
        </td>
        <td>
            <form action='./zamowienia_klientow' method='GET'>
                <button type="submit">Zamowienia klientow</button>
            </form>
        </td>
        <td>
            <form action='./zamowienia_magazynu' method='GET'>
                <button type="submit">Zamowienia magazynu</button>
            </form>
        </td>
    </tr>
</table>


</body>
</html>