<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <input type="hidden" id="myVar" name="variable" value="{{ variable }}">
    {% load static %}
    <script src="{% static 'store/sorttable.js' %}" type="text/javascript"></script>
</head>
<body>
    <h1>Magazyn</h1>
    <table border="1" width="600" class="sortable">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Kategoria</th>
            <th>Producent</th>
            <th>Ilosc na magazynie</th>
        </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.produktNazwa }}</td>
                <td>{{ product.kategoriaNazwa }}</td>
                <td>{{ product.producentNazwa }}</td>
                <td>{{ product.ilosc }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>