<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zamowienia</title>
<style>
    button{
  width: 80px;
  height: 60px;
  object-fit: none;
  object-position: 50% 50%;
}

</style>
</head>
<body>

<table>
    <tr>
        <td>
            <form action='http://127.0.0.1:8000/reports/' method='GET'>
                <button type="submit">raport klienci</button>
            </form>
        </td>
        <td>
            <form action='http://127.0.0.1:8000/orders/' method='GET'>
                <button type="submit">raport zamowienia</button>
            </form>
        </td>
        <td>
            <form action='http://127.0.0.1:8000/warehouse/' method='GET'>
                <button type="submit">raport zamowienia magazynu</button>
            </form>
        </td>
    </tr>
</table>

<h2>Raport zamowienia</h2>


<form action="generate_orders" method="POST">
  {% csrf_token %}
  <h3>Zakres dat:</h3>
  <input type="radio" id="tydzien" name="czas" value="tydzien" checked="checked">
  <label for="tydzien">Tydzien</label><br>
  <input type="radio" id="miesiac" name="czas" value="miesiac">
  <label for="miesiac">Miesiac</label><br>
  <input type="radio" id="kwartal" name="czas" value="kwartal">
  <label for="kwartal">Kwartal</label><br>
  <input type="radio" id="rok" name="czas" value="rok">
  <label for="rok">Rok</label><br>

  <h3>Grupuj po:</h3>
  <input type="radio" id="kategoria" name="grupowanie" value="kategoria" checked="checked">
  <label for="kategoria">Kategoria</label><br>
  <input type="radio" id="producent" name="grupowanie" value="producent">
  <label for="producent">Producent</label><br>

  <button type="submit">Generuj raport!</button>
</form>

</body>
</html>