<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zamowienia magazynu</title>
<style>
    button{
  width: 80px;
  height: 60px;
  object-fit: none;
  object-position: 50% 50%;
}

</style>
</head>
<body>


<form action='http://127.0.0.1:8000/reports/' method='GET'>
<button type="submit">raport klienci</button>
</form>
<form action='http://127.0.0.1:8000/orders/' method='GET'>
<button type="submit">raport zamowienia</button>
</form>
<form action='http://127.0.0.1:8000/warehouse/' method='GET'>
<button type="submit">raport zamowienia magazynu</button>
</form>

<h2>Raport zamowienia magazynu</h2>

<h3>Zakres dat:</h3>

<label class="container">Tydzien
  <input type="radio" checked="checked" name="date">
  <span class="checkmark"></span>
</label>

<label class="container">Miesiac
  <input type="radio" name="date">
  <span class="checkmark"></span>
</label>

<label class="container">3 Miesiace
  <input type="radio" name="date">
  <span class="checkmark"></span>
</label>

<label class="container">Rok
  <input type="radio" name="date">
  <span class="checkmark"></span>
</label>

<h3>Zakres kwot:</h3>

<label class="container">0-100
  <input type="radio" checked="checked" name="amount">
  <span class="checkmark"></span>
</label>

<label class="container">100-500
  <input type="radio" name="amount">
  <span class="checkmark"></span>
</label>

<label class="container">>500
  <input type="radio" name="amount">
  <span class="checkmark"></span>
</label>

<form action='generateWR' method='GET'>
<button type="submit">Generuj raport!</button>
</form>

</body>
</html>