<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reports</title>
<style>
    button{
  width: 80px;
  height: 60px;
  object-fit: none;
  object-position: 50% 50%;
}

</style>
</head>
<body>

<table>
    <tr>
        <td>
            <form action='http://127.0.0.1:8000/reports/' method='GET'>
                <button type="submit">raport klienci</button>
            </form>
        </td>
        <td>
            <form action='http://127.0.0.1:8000/orders/' method='GET'>
                <button type="submit">raport zamowienia</button>
            </form>
        </td>
        <td>
            <form action='http://127.0.0.1:8000/warehouse/' method='GET'>
                <button type="submit">raport zamowienia magazynu</button>
            </form>
        </td>
    </tr>
</table>


<h2>Raport klienci</h2>

<h3>Zakres dat:</h3>

<label class="container">Tydzien
  <input type="radio" checked="checked" name="radio">
  <span class="checkmark"></span>
</label>

<label class="container">Miesiac
  <input type="radio" name="radio">
  <span class="checkmark"></span>
</label>

<label class="container">3 Miesiace
  <input type="radio" name="radio">
  <span class="checkmark"></span>
</label>

<label class="container">Rok
  <input type="radio" name="radio">
  <span class="checkmark"></span>
</label>

<form action='actionUrl' method='GET'>
<button type="submit">Generuj raport!</button>
</form>

</body>
</html>